[data-bs-theme="dark"] {
    background-color: black;
}
    
    .breedType {
        width: fit-content;
    }

    .carousel img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    body {
        font-family: 'Helvetica', sans-serif;
        line-height: 1.6;
        margin: 0;
    }

    .breedName {
        font-family: 'Helvetica', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin-bottom: 0.5rem;
    }

    .breedName::after {
        content: '';
        display: block;
        width: 50px;
        height: 4px;
        background-color: #EE8130;
        margin: 0.5rem auto;
    }

    .origin {
        font-weight: 600;
        color: #6c757d;
        font-size: 1.1em;
    }

    .carousel img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(238, 129, 48, 0.8);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }

    .carousel-control-prev-icon:hover,
    .carousel-control-next-icon:hover {
        background-color: #EE8130;
        transform: scale(1.1);
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .card {
        border: 1px solid #EE8130;
        box-shadow: 0 4px 8px rgba(204, 106, 38, 0.3), 0 6px 20px rgba(204, 106, 38, 0.2);
    }

    .card b {
        font-size: 1.1em;
    }

    .btn-primary {
        background-color: #EE8130;
        border: 2px solid #EE8130;
        color: #fff;
        transition: all 0.3s ease;
        font-weight: 600;
        text-transform: uppercase;
    }

    .btn-primary:hover {
        background-color: #ff6f61;
        border-color: #ff6f61;
        color: white;
    }

    .navbar-brand,
    .nav-link,
    .dropdown-item {
        font-weight: 600;
        color: #EE8130 !important;
        transition: color 0.3s ease;
    }

    .nav-link:hover,
    .dropdown-item:hover {
        color: #ff6f61 !important;
    }

    .btnMode {
        display: inline-block;
        transition: all 0.3s ease;
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid #EE8130;
        color: #EE8130;
    }

    .btnMode:hover {
        background-color: #EE8130;
        color: white;
        border: 2px solid #EE8130;
    }